<h1>Hello <%= @user[:name] %></h1>

<p>Thank you for reaching out to Aaron Mednick!</p>

<p>We've read your message - <%= @user[:message] %>, and will get back to you shortly regarding your request.</p>

<p>Thank you!</p>
