.cards {
  display: flex;
}

.card {
  flex: 5 1 auto;
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

.card:hover {
  margin-top: -10px;
  margin-bottom: 10px;
  color: white;
}

.card-body {
  height: 300px;
  background-size: cover;
  color: white;
  position: relative;
}

.project-card {
  background-position: center;
  background-size: cover; 
}

.project-card-body-1 {
  background-position: center;
  background-size: cover; 
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), asset-url("meta-pic.png");
}

.project-card-body-2 {
  background-position: center;
  background-size: cover; 
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), asset-url("livebliss_bg.png");
}

.project-card-body-3 {
  background-position: center;
  background-size: cover; 
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), asset-url("transformation_fitness.JPG");
}

.project-card-body-4 {
  background-position: center;
  background-size: cover; 
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), asset-url("fitted.JPG");
}

.project-card-body-5 {
  background-position: center;
  background-size: cover; 
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), asset-url("project_warehouse.JPG");
}

.project-card-body-6 {
  background-position: center;
  background-size: cover; 
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), asset-url("les_cocktails.JPG");
}

.project-card-body-7 {
  background-position: center;
  background-size: cover; 
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), asset-url("random_matcher.JPG");
}

.card-body:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 50px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  opacity: 0.8;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-description h2 {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

.card-description p {
  font-size: 14px;
  font-weight: lighter;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link:hover{
  opacity: 0.5;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 50px;
  &:hover{
    background-color: #0066FF !important;
  }
}

.card-footer .controls{
  display: flex;
  align-items: center;
}

.card-footer .controls i{
  padding: 0 10px;
  color: black;
  opacity: 0.2;
}

.card-footer .controls i:hover{
  opacity: 0.4;
}
