.bio {
  margin-top: 10px;
}

.bio-title h2 {
  padding-bottom: 10px;
  text-align: center;
  color: black;
  border-bottom: 1px solid black;
}

.project-title h2 {
  padding-bottom: 10px;
  color: black;
  border-bottom: solid 1px black;
}