// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "avatar";
@import "footer";
@import "card";

@font-face {
  font-family: 'Helvetica Rounded-Black';
  src:
    local('Helvetica Rounded-Black'),
    url('fonts/HelveticaRounded-Black.otf')
    format('truetype');
}


a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

p {
  font-family: "Nunito" !important;
  font-size: 15px !important;
}

h2 {
  font-family: 'Helvetica' !important;
  font-weight: bold !important;
  color: white;
  font-size: 3em !important;
  letter-spacing: 1px !important;
}
